# Video files
*.mp4
*.avi
*.mov
*.mkv
*.flv
*.wmv
*.webm
*.m4v
*.mpg
*.mpeg
*.3gp

# Processed video files
processed_videos/
videos/

# env
videnv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/


# Database
*.db
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# System
.DS_Store
Thumbs.db